header
  nav.navbar.navbar-expand-lg.navbar-light
    .container
      a.navbar-brand(href='#')
        | Gup
        span Shup
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        form.form-inline.my-2.my-lg-0.mx-auto(action="/search",method="post")
          input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search',name="query")
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
        ul.navbar-nav.ml-auto
          li.nav-item.active
            a.nav-link(href='/profile/user'+currentUser)
              | Home 
          li.nav-item.dropdown.active
            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Settings
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='/logout') Log out
